@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Rufina:wght@400;700&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading: rgb(0 10 45);
  --para: #777777;
  --para-tint: #e4e4e4;
  --third: #fff;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --shadpw: 0px 0px 20px 0px rgb(132 144 255 / 20%);
}

/* spacing 
desktop = 4.8rem */

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Rufina", serif;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.8rem;

  /* word-spacing: 0.1rem; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );

  padding: 1.6rem 3.2rem;
  border: none;
  color: rgb(255 255 255);
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.btn:hover {
  box-shadow: 0px 20px 20px 0px rgb(132 144 255 / 30%);
  color: rgb(255 255 255);
}

.section {
  padding: 9rem 0;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-col {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-col {
  grid-template-columns: repeat(4, 1fr);
}

/* ===========================================
Header Section Start
======================================= */

.header {
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
  /* background-color: #e7f5ff; */
}

.header .logo {
  /* width: 15%; */
  height: 3rem;
}

.navbar-lists {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #212529;
  transition: all 0.3s;
  font-family: "Poppins", sans-serif;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}

.mobile-navbar-btn {
  /* by default for normal screen we want to hide  */
  display: none;
  background: transparent;
  cursor: pointer;
  border: none;
}

.mobile-nav-icon {
  width: 5rem;
  height: 5rem;
  color: #212529;
}

/* for desktop or mobile menu-outline one must be visible  
and we need to hide the close menu icon
*/
.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* sticky Navbar */
.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding-top: 0;
  padding-bottom: 0;
}

/* ===========================================
Hero  Section Start
======================================= */

.section-hero {
  background: var(--bg);
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-top-data {
  text-transform: uppercase;
  color: var(--heading);
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--helper);
}

.hero-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6.4rem;
}

.hero-para {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
}

.section-hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 80%;
  z-index: 1;
}

/* ===========================================
 Bio Data Section Start
======================================= */

.bio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-image img {
  display: inline-block;
  width: 80%;
  box-shadow: -2rem -2rem 0rem 0rem var(--helper);
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;
}

.common-heading::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--helper);
}

.common-heading::after {
  content: "";
  position: absolute;
  top: 128%;
  left: 1.5rem;
  width: 30%;
  height: 0.3rem;
  background: var(--helper);
}

.bio-data-stats {
  padding: 6.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.bio-progress-bar {
  width: 90%;
  height: 0.8rem;
  /* background: var(--para); */
  background-color: rgb(233 236 239);
  border-radius: 10rem;
  position: relative;
  box-shadow: var(--shadpw);
  /* overflow: hidden; */
}

.bio-progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  border-radius: 10rem;
}

/* to create the rectangle box  */
.bio-progress-bar span {
  position: absolute;
  top: 1.8rem;
  left: 76%;
  width: 4rem;
  height: 2rem;
  background: var(--helper);
  color: var(--third);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

/* to create the traingle or caret symbol  */
.bio-progress-bar span::after {
  content: "";
  position: absolute;
  top: -1.6rem;
  width: 0rem;
  height: 0rem;
  border: 0.8rem solid var(--helper);
  border-color: transparent;
  border-bottom-color: var(--helper);
}

/* ===========================================
 Section portfolio
======================================= */

.section-portfolio {
  background-color: var(--bg);
}

.section-portfolio p,
.section-services p {
  max-width: 60rem;
}

.portfolio-images {
  gap: 3.2rem;
  margin-top: 6.4rem;
}

.img-ovelay {
  position: relative;
  overflow: hidden;
}

.portfolio-images img {
  width: 100%;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.img-ovelay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  opacity: 0;
  color: var(--third);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-radius: 7px;
  /* box-shadow: inset 0 0 0 0.5rem var(--helper-tint); */
}

.img-ovelay:hover > .overlay {
  opacity: 0.8;
  transform: translateY(0);
  cursor: pointer;
}

.img-ovelay .overlay .common-heading {
  margin: 0;
  color: var(--third);
  text-decoration: none;
}

/* ===========================================
work data Section
======================================= */
.section-work-data {
  background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  color: var(--third);
  text-align: center;
}

.common-numbers {
  font-size: 4.8rem;
}

.section-work-data p {
  color: var(--third);
}

/* ===========================================
Services Section
======================================= */

.section-services p {
  max-width: 60rem;
}

.section-services .grid {
  margin-top: 10rem;
  row-gap: 10rem;
}

.service-box {
  text-align: center;
  box-shadow: var(--shadpw);
  border-radius: 5px;
  padding: 6.4rem 3.4rem;
  transition: all 0.2s linear;
}

.service-box:hover {
  transform: translateY(-3rem);
}

.serive-icon {
  width: 8rem;
  height: 8rem;
  background-color: rgb(144 172 209 / 20%);
  display: inline-block;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--heading);
  animation: water-wave 3s linear infinite;
}

.serive-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(11, 15, 20, 0.9);
  width: 90%;
  height: 90%;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  background-color: transparent;
  animation: water-wave 5s linear infinite alternate;
}

@keyframes water-wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}

.service-box h3 {
  text-transform: capitalize;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

/* ===========================================
Resume Section
======================================= */

.section-resume {
  background: var(--bg);
}

.resume-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-img img {
  width: 80%;
  box-shadow: -2rem 2rem 0 0 var(--helper);
  /* box-shadow: var(--shadpw) */
}

.resume-para {
  font-size: 2.4rem;
  letter-spacing: 0;
  text-transform: capitalize;
  color: var(--heading);
}

.resume-data-subsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.8rem;
  margin-top: 4.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid var(--para-tint);
}

.resume-data-left .grid {
  gap: 1.5rem;
}

.resume-data-left .grid p,
.resume-data-right p {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.resume-data-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.resume-data-right .resume-data-button {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--helper);
  padding: 0.3rem 0;
  min-width: 50%;
  background: #f3f4ff;
  border-radius: 10rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.resume-data-bottom-subsection {
  margin-top: 4.8rem;
}

.resume-data-bottom-subsection .margin-small {
  margin-top: 1.8rem;
}

.resume-data-bottom-subsection .resume-data-button {
  width: 80%;
}

/* ===========================================
Testimonial Swiper Queries Section
======================================= */
/* 
.section-testimonial {
  background-color: var(--bg);
} */

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 9rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 5rem;
}

.swiper-client-msg {
  padding: 5rem 8rem;
  background-color: var(--third);
  border-radius: 10px;
  text-align: left;
  box-shadow: var(--shadpw);
  position: relative;
}

.swiper-client-msg::before {
  content: "";
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  /* width: 5rem;
  height: 5rem; */
  border: 5rem solid var(--third);
  border-color: transparent;
  border-top-color: var(--third);
}

.swiper-client-msg p::before {
  content: "\f10d";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 2rem;
  font-size: 5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ced3ff;
}

.swiper-client-msg p::after {
  /* display: inline-block */
  content: "\f10e";
  position: absolute;
  bottom: 0%;
  right: 5%;

  font-size: 5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ced3ff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-client-data {
  align-items: center;
  justify-items: start;
  justify-content: start;
  gap: 1.4rem;
  margin-top: 3.2rem;
}

.swiper-client-data img {
  max-width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.5rem solid #ced3ff;
}

.swiper-client-data p:first-child {
  font-weight: bold;
  color: var(--heading);
}

/* ===========================================
freelancer  Section
======================================= */

.section-freelancer {
  background-image: url("../images/folio/3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  position: relative;
  background-attachment: fixed;
}

.section-freelancer .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3e64ff;
  opacity: 0.7;
}

.section-freelancer .container {
  position: relative;
}

.section-freelancer h2 {
  font-size: 5.4rem;
}

.section-freelancer h2 span {
  color: #a0f669;
}

.section-freelancer h2,
.section-freelancer p {
  color: var(--third);
  margin-bottom: 1.8rem;
}

/* ===========================================
contact Section
======================================= */

.section-contact-main {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 10rem;
}

.section-contact-main form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.section-contact-main .grid {
  gap: 2.4rem;
}

.section-contact-main input,
textarea {
  padding: 1.5rem 2rem;
  border: 0.1rem solid #c9c9c9;
  border-radius: 5px;
  width: 100%;
  font-size: 1.6rem;
  font-family: "work sans";
}

.section-contact-main textarea {
  height: 15rem;
}

/* ::placeholder {
  font-size: 1.6rem;
  font-family: "work sans";
} */

.section-contact-main input[type="submit"] {
  max-width: 30%;
  border: none;
}

/* ===========================================
Footer Section
======================================= */

.section-footer {
  background: var(--heading);
}

.section-footer h3 {
  color: var(--third);
  margin-bottom: 4rem;
}

.f-about p {
  color: #adadad;
}

.f-links ul,
.f-services ul,
.f-address address {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
  list-style: none;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a {
  font-size: 1.8rem;
  color: #adadad;
  text-transform: capitalize;
}

.f-links span,
.f-services span,
.f-address span {
  margin-right: 1rem;
}

.f-address p {
  font-style: normal;
  color: #adadad;
}

.f-social-icons {
  margin: 5rem 0;
  text-align: center;
  color: #adadad;
}

.f-social-icons .icons {
  width: 4rem;
  height: 4rem;
  background-color: rgb(144 172 209 / 20%);
  display: inline-block;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--heading);
  animation: water-wave 3s linear infinite;
  color: var(--third);
}

.f-credits p {
  text-align: center;
  color: #adadad;
}

footer a:hover {
  color: var(--third);
}
/* ===========================================
Media Queries Section
======================================= */

@media (max-width: 94em) {
  .container {
    max-width: 130rem;
  }
  .navbar-lists {
    gap: 3.4rem;
  }
}

/* for widht below 1200px  */
@media (max-width: 75em) {
  .container {
    max-width: 110rem;
  }
  .navbar-lists {
    gap: 3.4rem;
  }
}

/* media queries less then 980px */
@media (max-width: 980px) {
  /* to make all the container with same padding  */
  .container {
    padding: 0 3.2rem;
  }

  html {
    font-size: 56.25%;
  }

  /* when we are in 980px we need to show the menu open icon */
  .mobile-navbar-btn {
    display: block;
    /* background-color: #212529; */
    z-index: 99999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
    /* height: 3.4rem; */
  }

  .navbar {
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-lists {
    flex-direction: column;
    align-items: center;
  }

  .navbar .navbar-lists .navbar-link:link,
  .navbar .navbar-lists .navbar-link:visited {
    color: #212529;
    font-size: 3.2rem;
  }

  .active .navbar {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    z-index: 9999;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  /* hero section  */

  .section-hero h1 {
    line-height: 1.05;
  }

  /* section bidoata  */
  .section-biodata .grid {
    gap: 3rem;
  }

  /* section work  */
  .section-work-data .common-numbers {
    font-size: 3.2rem;
  }

  /* services section  */

  .section-services .grid {
    gap: 6rem;
  }

  .section-services .grid-three-col {
    grid-template-columns: repeat(2, 1fr);
  }

  /* resume section  */
  .section-resume .grid-two-col {
    grid-template-columns: 1fr;
  }

  .section-resume .grid-two-col img {
    width: 50%;
  }
  .resume-img {
    grid-row: 2;
    transform: translateY(-2rem);
  }

  /* testimonial section  */
  .section-testimonial .grid-three-col {
    grid-template-columns: 2fr;
  }

  .section-footer .grid-four-col {
    grid-template-columns: 1fr 1fr;
  }
}

/* Below 780px  */
@media (max-width: 780px) {
  .container {
    max-width: 720px;
  }
  /* hero section  */
  .section-hero .grid-two-col {
    grid-template-columns: 1fr;
  }

  .section-hero-data {
    align-items: center;
  }

  .section-hero-data .hero-top-data {
    /* align-self: flex-start; */
  }

  .hero-heading {
    text-align: center;
  }
  .hero-para {
    text-align: center;
    margin-top: 2rem;
  }

  .section-hero img {
    width: 70%;
  }

  /* work section  */
  .section-portfolio .grid-three-col {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 3.2rem;
  }

  .header .logo {
    width: 60%;
  }

  /* secion .bio-data */

  .section-biodata .grid-two-col {
    grid-template-columns: 1fr;
  }

  .section-biodata .bio-image {
    grid-row: 2;
    margin-top: 3.2rem;
  }

  /* work section  */
  .section-work-data .grid-four-col {
    grid-template-columns: 1fr 1fr;
  }

  /* services section  */
  .section-services .grid-three-col {
    grid-template-columns: 1fr;
  }
}
